<div class="kaminari_paginate">
  <%= paginate @contacts %>
</div>
<table id="contact_list">
  <thead>
    <tr>
      <th><%= sortable "first_name", "NAME" %></th>
      <th>CONTACT NO</th>
      <th>ADMIN</th>
    </tr>
  </thead>
  <tbody>
    <% for contact in target %>
    <tr class="contact_data">
      <td class="contact_name">
        <p>
          <%= link_to "#{contact.full_name}", contact %>
        </p>
      </td>
      <td class="contact_phones">
        <% for phone in contact.phones %>
        <p>
          <img src="<%= asset_path(phone.phone_type.downcase+".png") %>" /> <%= phone.phone_no %>
        </p>
        <% end %>
      </td>
      <td class="contact_admin">
        <%= render :partial => "admin_options", :locals => {:target => contact} %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
