%div.contact_data_details
  %div.contact_name_details
    = "#{target.first_name} #{target.last_name}"

  %div.contact_phones_details
    - for phone in target.phones
      %p
        = image_tag("#{phone.phone_type.downcase}.png", title: "#{phone.phone_type.titlecase}")
        = phone.phone_no

  %div.contact_remarks_details
    = target.remarks

  - if admin?
    %div.contact_admin_details
      = render partial: "admin_options", locals: {target: target}
