%div.kaminari_paginate
  = paginate @contacts

%table#contact_list
  %thead
    %tr
      %th
        = sortable "first_name", "NAME"
      %th CONTACT NO
      %th
        = sortable "remarks", "REMARKS"
      - if admin?
        %th ADMIN
  %tbody
    - for contact in target
      %tr.contact_data
        %td.contact_name
          %p
            = link_to "#{contact.full_name}", contact
        %td.contact_phones
          - for phone in contact.phones
            %p
              = image_tag("#{phone.phone_type.downcase}.png", title: "#{phone.phone_type.titlecase}")
              = phone.phone_no
        %td.contact_remarks
          %p
            = contact.remarks
        - if admin?
          %td.contact_admin
            = render partial: "admin_options", locals: {target: contact}
