%div.contact_data_details
  %div.contact_name_details
    = link_to "#{target.first_name} #{target.last_name}", target

  %div.contact_phones_details
    - for phone in target.phones
      %p
        = image_tag("#{phone.phone_type.downcase}.png")
        = phone.phone_no

  %div.contact_remarks_details
    = target.remarks

  %div.contact_admin_details
    = link_to 'Edit', edit_contact_path(target)
    |
    = link_to 'Delete', target, :method => 'delete', :confirm => "Are you sure?", :class => "delete_contact"
