<!DOCTYPE html>
<html>
  <head>
    <title>Contacts</title>
    <%= stylesheet_link_tag    "reset", :media => "all" %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= stylesheet_link_tag    "contacts", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="header">
      <div id="banner">
        <h1><%= link_to "CONTACTS", root_path %></h1>
		<h5>keep in touch!</h5>
      </div>
	  <div id="login_space">
		ADMIN LOGIN
	  </div>
	  <%= render :partial => "basic_search" %>
    </div>
    <div id='content'>
      <div id="flash_messages">
        <% flash.each do |key, message| -%>
        <%= content_tag :div, message, :id => "flash_#{key}" -%>
        <% end -%>
      </div>
      <%= yield %>
    </div>
    <div id="footer">
      <hr/>
      sensitive information. deal with care.
    </div>
  </body>
</html>
